.button {
    padding: 1em 5em;
    text-align: center;
    font-weight: var(--fw-bold);
    background: var(--grd-cta);
    background-color: var(--clr-acc-cta-grd-1);
    border: none;
    border-radius: 2rem;
    color: var(--clr-neu-base);
    box-shadow: 0 0.4em 0.2em var(--clr-neu-shadow);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.button:is(:hover, :focus-visible) {
    background: color-mix(
        in srgb,
        var(--clr-acc-cta-grd-1) 100%,
        var(--clr-neu-base) 25%
    );
}

.button:active {
    translate: 0 2px;
    box-shadow: inset 0 0.4em 0.2em var(--clr-neu-shadow);
}
