.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: var(--pad-root);
    background: var(--clr-pri-intro-bg);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 6rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav a {
    color: var(--clr-neu-base);
    text-decoration: none;
}
